.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  border: 5px solid #616469;
  max-width: 30rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem 0.5rem 2rem 2rem;
  margin: 5px auto;
  box-shadow: 0 0 4rem rgba(0, 0, 0, 0.7);
}

.screen {
  height: 10rem;
  border-width: 1rem 1.5rem 2rem 1.5rem;
  border-color: #616469;
  border-style: solid;
  border-radius: 5%;
  background-color: #cad8d8;
  color: #333;
  font-size: 1.8rem;
  text-align: right;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2px 0px 1px #b3b3b3, 0 7px 4px rgba(0, 0, 0, 0.8);
}

.calculator-keys {
  display: flex;
  width: 27rem;
  padding: 0.5rem;
}

.num-keys {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.operation-keys {
  display: flex;
  flex-direction: column;
}

/* history display */

.history {
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  font-size: 1.5rem;
}

/* display */

#display {
  align-self: flex-end;
  font-size: 2.3rem;
  transform-origin: right;
  letter-spacing: 1px;
}
